Repository ravindu0823/Job-Application-Tracker, pull requests merged in 2025-10, with the labels that each got.

#3 Feat: add authentication DTOs and middleware for user registration an…
  LiterateWinnerApi/LiterateWinnerApi/Controllers/.gitkeep
  LiterateWinnerApi/LiterateWinnerApi/DTO/Auth/.gitkeep
  LiterateWinnerApi/LiterateWinnerApi/DTO/Auth/AdminRegisterDto.cs
  LiterateWinnerApi/LiterateWinnerApi/DTO/Auth/AuthenticationResponse.cs
  LiterateWinnerApi/LiterateWinnerApi/DTO/Auth/RefreshRequest.cs
  LiterateWinnerApi/LiterateWinnerApi/DTO/Auth/UserLoginDto.cs
  LiterateWinnerApi/LiterateWinnerApi/DTO/Auth/UserRegisterDto.cs
  LiterateWinnerApi/LiterateWinnerApi/Enum/.gitkeep
  LiterateWinnerApi/LiterateWinnerApi/Extensions/.gitkeep
  LiterateWinnerApi/LiterateWinnerApi/Extensions/ProblemDetailsExtentions.cs
  LiterateWinnerApi/LiterateWinnerApi/Infrastructure/Middleware/.gitkeep
  LiterateWinnerApi/LiterateWinnerApi/Infrastructure/Middleware/RequestContextLoggingMiddleware.cs
  LiterateWinnerApi/LiterateWinnerApi/JobApplicationTrackerApi.csproj
Labels: hacktoberfest, hacktoberfest-2025, feature:auth, backend

#4 Feat: implement application and identity contexts with user and role …
  LiterateWinnerApi/LiterateWinnerApi/Infrastructure/Roles.cs
  LiterateWinnerApi/LiterateWinnerApi/Infrastructure/Web/.gitkeep
  LiterateWinnerApi/LiterateWinnerApi/JobApplicationTrackerApi.csproj
  LiterateWinnerApi/LiterateWinnerApi/Persistence/DbConnectionManager.cs
  LiterateWinnerApi/LiterateWinnerApi/Persistence/DefaultContext/DefaultContext.cs
  LiterateWinnerApi/LiterateWinnerApi/Persistence/DefaultContext/DefaultContextFactory.cs
  LiterateWinnerApi/LiterateWinnerApi/Persistence/DefaultContext/Entity/.gitkeep
  LiterateWinnerApi/LiterateWinnerApi/Persistence/DefaultContext/Entity/BaseEntity.cs
  LiterateWinnerApi/LiterateWinnerApi/Persistence/DefaultContext/Entity/User.cs
  LiterateWinnerApi/LiterateWinnerApi/Persistence/IdentityContext/Entity/.gitkeep
  LiterateWinnerApi/LiterateWinnerApi/Persistence/IdentityContext/Entity/ApplicationUser.cs
  LiterateWinnerApi/LiterateWinnerApi/Persistence/IdentityContext/IdentityContext.cs
  LiterateWinnerApi/LiterateWinnerApi/Persistence/IdentityContext/IdentityContextFactory.cs
  LiterateWinnerApi/LiterateWinnerApi/Persistence/IdentityContext/IdentityContextSeed.cs
  LiterateWinnerApi/LiterateWinnerApi/Persistence/IdentityContext/Migrations/.gitkeep
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2025, feature:auth, backend, database, api, security

#5 UI enhacement
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/applications/[id]/page.tsx
  frontend/src/app/applications/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/app/templates/page.tsx
Labels: hacktoberfest, hacktoberfest-accepted, hacktoberfest-2025, frontend

#32 Feat: update API configuration and add home controller and fixed the Context Seeding Issue
  LiterateWinnerApi/LiterateWinnerApi/CONFIGURATION.md
  LiterateWinnerApi/LiterateWinnerApi/Controllers/HomeController.cs
  LiterateWinnerApi/LiterateWinnerApi/Persistence/DefaultContext/DefaultContextSeed.cs
  LiterateWinnerApi/LiterateWinnerApi/Program.cs
  LiterateWinnerApi/LiterateWinnerApi/Properties/launchSettings.json
  LiterateWinnerApi/LiterateWinnerApi/Startup/Migration.cs
  LiterateWinnerApi/LiterateWinnerApi/appsettings.sample.json
Labels: bug, documentation, enhancement, hacktoberfest, hacktoberfest-accepted, hacktoberfest-2025, feature:applications, backend, database, api, performance

#41 feat: Comprehensive form validation, error handling, and documentation
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/__tests__/lib/validation.test.ts
  frontend/src/app/applications/[id]/page.tsx
  frontend/src/app/applications/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/error-boundary.tsx
  frontend/src/components/filter-sidebar.tsx
  frontend/src/components/forms/application-form.tsx
  frontend/src/components/forms/contact-form.tsx
  frontend/src/components/forms/index.ts
  frontend/src/components/forms/interview-form.tsx
  frontend/src/components/forms/note-form.tsx
  frontend/src/components/forms/settings-form.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/mutations.ts
  frontend/src/lib/validation.ts
  package-lock.json
  package.json
Labels: documentation, enhancement, hacktoberfest, hacktoberfest-accepted, hacktoberfest-2025, backend, api

#40 feat: Add comprehensive testing suite for backend and frontend
  .github/workflows/ci-cd.yml
  .gitignore
  LiterateWinnerApi/JobApplicationTrackerApi.Tests/IntegrationTests/ApiHealthTests.cs
  LiterateWinnerApi/JobApplicationTrackerApi.Tests/IntegrationTests/CustomWebApplicationFactory.cs
  LiterateWinnerApi/JobApplicationTrackerApi.Tests/IntegrationTests/IntegrationTestBase.cs
  LiterateWinnerApi/JobApplicationTrackerApi.Tests/JobApplicationTrackerApi.Tests.csproj
  LiterateWinnerApi/JobApplicationTrackerApi.Tests/PerformanceTests/ServicePerformanceBenchmarks.cs
  LiterateWinnerApi/JobApplicationTrackerApi.Tests/SecurityTests/SecurityTests.cs
  LiterateWinnerApi/JobApplicationTrackerApi.Tests/UnitTest1.cs
  LiterateWinnerApi/JobApplicationTrackerApi.Tests/UnitTests/Services/CacheServiceTests.cs
  LiterateWinnerApi/JobApplicationTrackerApi.Tests/UnitTests/Services/IdentityServiceTests.cs
  LiterateWinnerApi/JobApplicationTrackerApi.Tests/UnitTests/Services/TokenServiceTests.cs
  LiterateWinnerApi/JobApplicationTrackerApi.sln
  LiterateWinnerApi/LiterateWinnerApi/Program.cs
  LiterateWinnerApi/LiterateWinnerApi/Startup/DependencyInjection.cs
  README.md
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/__tests__/components/navigation.test.tsx
  frontend/src/__tests__/components/theme-provider.test.tsx
  frontend/src/__tests__/components/theme-toggle.test.tsx
  frontend/src/__tests__/components/ui/badge.test.tsx
  frontend/src/__tests__/components/ui/button.test.tsx
  frontend/src/__tests__/components/ui/card.test.tsx
  frontend/src/__tests__/components/ui/dialog.test.tsx
  frontend/src/__tests__/components/ui/input.test.tsx
  frontend/src/__tests__/components/ui/select.test.tsx
  frontend/src/__tests__/components/ui/skeleton.test.tsx
  frontend/src/__tests__/components/ui/sonner.test.tsx
  frontend/src/__tests__/components/ui/table.test.tsx
  frontend/src/__tests__/components/ui/tabs.test.tsx
  frontend/src/__tests__/setup.ts
  frontend/src/__tests__/utils/test-utils.tsx
  frontend/src/__tests__/vitest.d.ts
  frontend/vitest.config.ts
Labels: documentation, enhancement, hacktoberfest, hacktoberfest-accepted, hacktoberfest-2025, backend, api, business-logic
